{% extends './layout.html' %}

{% block header %}
    <title>{{ SITE_NAME }} | {{ SITE_DESCRIPTION }}</title>
    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
{% endblock %}

{% block content %}
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">程序猿</h1>
        <p class="lead">一个基于Django的博客网站。</p>
        <p class="lead">欢迎访问！</p>
    </header>

    <!-- Page Features -->
    <div>
        {% for topic in model %}
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">{{ topic.title }}</h4>
                    <p class="card-text">{{ topic.summary | safe }}</p>
                    {% with article=topic.first_article %}
                        {%  if article %}
                            <a href="{% url 'blog:article' article.id %} " class="card-link">点击阅读</a>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}